---
const {

    monthly_subscription_off,
    monthly_subscription_price,
    offerings,
    starting_price,
    subscription_price,
    title,

} = Astro.props
---
<div class="bg-orange-400 px-4 py-12 rounded-xl space-y-8 border border-orange-500 hover:bg-orange-500 duration-300 hover:border-orange-600 group">
    <h4 class="text-center text-xl font-semibold">{ title }</h4>
    <h5 class="text-center text-5xl font-bold">${ starting_price }</h5>
    <div class="flex flex-col items-center space-y-4">
        <ul class="space-y-2">
        {

            offerings.map( ( value ) => {

                return (
                    <li class="font-light text-lg text-center flex items-center gap-4">
                        <div class="bg-white rounded-full p-1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-check"><path d="M20 6 9 17l-5-5"/></svg>
                        </div>
                        { value }
                    </li>
                )

            })

        }
        </ul>
        <p class="text-2xl font-light">Subscription Starting</p>
        <div class="flex gap-4 items-center">
            <h5 class="text-center text-xl font-light">${ subscription_price }/week</h5>
            <div class="bg-white px-4 py-1 rounded relative">
                <div class="absolute -top-4 text-xs bg-white px-2 py-0.5 rounded border -right-12 border-orange-600">Limited Deal</div>
                <h5 class="text-center text-xl font-light">${ monthly_subscription_price }/month</h5>
            </div>
        </div>
        <div class="space-y-2">
            <p class="font-light text-center">{ monthly_subscription_off }% off on monthly susbcription.</p>
        </div>
        <a href="https://cal.com/bluppco" target="_blank">
            <button class="bg-white px-12 py-3 border rounded-lg border-orange-500 group-hover:bg-black group-hover:text-white duration-500">
                Schedule Call
            </button>
        </a>
    </div>
</div>
