<div class="min-w-96 border h-[calc(100vh-2rem)] rounded border-zinc-300">
    <div class="bg-zinc-200 py-2 border border-b-zinc-300 text-center">
        <slot name="title" />
    </div>
    <slot name="tasks" />
</div>
