---

// LAYOUTS
import Layout from "@/layouts/Layout.astro"
import Container from "@/layouts/Container.astro"

// COMPONENTS
import Pricing from "@/components/home/pricing/index.astro"

---
<Layout
	title="Get a MVP in 7 days | GetMVP.co"
	description="Get your web mvp created in just 7 days."
>
	<Container>
		<section class="flex justify-center items-center h-96 md:h-[600px] flex-col space-y-20">
			<div class="space-y-2">
				<h1 class="text-2xl md:text-4xl font-semibold text-center">Get your Web MVP in 7 days.</h1>
				<h2 class="text-xl md:text-3xl font-semibold text-center">Weekly Subscription to keep it growing.</h2>
			</div>
			<div class="space-y-2">
				<p class="text-3xl md:text-5xl font-light text-center">Starting at just <strong class="font-bold underline">$999/week</strong>.</p>
				<p class="text-sm md:text-lg font-light text-center">no minimum commitment, cancel anytime.</p>
			</div>
		</section>
		<Pricing />
	</Container>
</Layout>
