---
import { Icon } from "astro-icon/components"

import Container from "@/layouts/Container.astro"
---
<section>
    <Container>
        <div class="flex space-x-4 items-center">
            <Icon name="sanity" class="w-full"/>
            <Icon name="vercel" class="w-full"/>
            <Icon name="astro-logo-dark" class="w-full"/>
            <Icon name="nextjs" class="w-full"/>
            <Icon name="prismic" class="w-full"/>
            <Icon name="tailwindcss" class="w-full"/>
            <Icon name="cloudflare" class="w-full"/>
            <Icon name="planetscale" class="w-full"/>
            <!-- <Icon name="neon" class="w-full"/> -->
        </div>
    </Container>
</section>
